.beers{
    margin-top:50px;
}
.wrap{
    width:95%;
    margin:0 auto;
}
.info{
    margin-top:30px;
    width:200px;
}
.image{
    width:250px;
    heigth:400px;
}
.card{
    display:inline;
    margin:100px;
}
.card-item {
    display:inline-block;
    margin-bottom:40px;
    cursor:pointer;
}