<div style="background: linear-gradient(90deg, #1F4948 0%, #265554 24.15%, #336665 39.05%, rgba(196, 196, 196, 0) 57.54%);;height:300px;" class="container">
    <div class="row">
        <div style="color:#FFFFFF" class="col-md-6">
            <div class="jumbo-text">
                <h4>There's something for everyone!</h4>
                <p>15% OFF YOUR FIRST 3 ORDER</p>
            </div>
        </div>
        <div style="background-image: url(../../assets/Images/glass.jpg);height:300px;" class="col-md-6">
            
        </div>
    </div>
</div>
<h3 class="text-center text-bold" style="color:#4F4F4F; font-weight:bolder;margin-top:50px;margin-bottom:50px">Review</h3>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
      <img style="height:110px;width:110px;margin-bottom:20px" src="../../assets/Images/review.png" alt="">
      <h4 style="font-weight:bolder" >Shahidul Islam</h4>
      <h5>“AMAZING test with quality products” </h5>
  </ng-template>  
  <ng-template carouselSlide>
    <img style="height:110px;width:110px;margin-bottom:20px" src="../../assets/Images/review.png" alt="">
    <h4 style="font-weight:bolder" >Shahidul Islam</h4>
    <h5>“AMAZING test with quality products” </h5>
</ng-template>  
<ng-template carouselSlide>
    <img style="height:110px;width:110px;margin-bottom:20px" src="../../assets/Images/review.png" alt="">
    <h4 style="font-weight:bolder" >Shahidul Islam</h4>
    <h5>“AMAZING test with quality products” </h5>
</ng-template>    
</owl-carousel-o>
